.bookshelf-page {
  height: calc(100vh - 4rem);
  padding: 4rem 5rem;
}
.bookshelf-page .top-section {
  display: flex;
  align-items: center;
  gap: 33%;
}

.bookshelf-page .bottom-section {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

@media screen and (max-width: 1300px) {
  .bookshelf-page {
    padding: 4rem 3rem;
  }
  .bookshelf-page .bottom-section {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1066px) {
  .bookshelf-page .bottom-section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 807px) {
  .bookshelf-page .bottom-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .bookshelf-page .bookshelf-page {
    padding: 4rem 2rem;
  }
  /* .top-section {
      flex-direction: column;
      align-items: normal;
      gap: 2rem;
    } */
}

@media screen and (max-width: 500px) {
  .bookshelf-page .bottom-section {
    grid-template-columns: repeat(1, 1fr);
  }
}
