.search-page {
  height: calc(100vh - 4rem);
  padding: 4rem 5rem;
}
.top-section {
  display: flex;
  align-items: center;
  gap: 10%;
}

.search-box-container {
  display: flex;
  align-items: center;
  flex: 6;
}

.button-container {
  flex: 1;
}

@media screen and (max-width: 650px) {
  .search-page {
    padding: 4rem 2rem;
  }
  .top-section {
    flex-direction: column;
    align-items: normal;
    gap: 2rem;
  }
}
